<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.office.miniBoard.board.IBoardDaoMapper">


    <insert id="insertBoard" parameterType="com.office.miniBoard.board.BoardDto" >

        INSERT INTO
            tbl_board(m_id, b_title, b_content, b_reg_date, b_mod_date)
        VALUES
            (#{m_id}, #{b_title}, #{b_content}, NOW(),NOW())
    </insert>



    <select id="selectBoardList" resultType="map">

        SELECT
            *
        FROM
            tbl_board
        WHERE
            use_yn = "Y"
        ORDER BY
            b_no DESC

    </select>

</mapper>